.wrapper {
    margin: 5px;
    
}
#bacon {
    background-color: lightgrey;
    color: black;
    margin: auto;
    width: 500px;
    text-align: center;
    border: solid black;
    border-radius: 1em;
}
.flame {
    height: 125px;
    width: 125px;
    position: relative;
    top: -60px;
    left: 50px; 
    margin: 30px 70px;
    border-radius: 0% 40% 60% 40%;
    transform: rotateZ(45deg);
    z-index: 0;
    background-color: orangered;
}
 .flameredright {
    height: 100px;
    width: 100px;
    position: relative;
    margin: 30px 70px;
    top: -210px;
    left: 70px;
    border-radius: 0% 40% 60% 40%;
    transform: rotateZ(65deg);
    z-index: 0;
    background-color: orangered;
}
 .flameredleft {
    height: 100px;
    width: 100px;
    position: relative;
    margin: 30px 70px;
    top: -340px;
    left: 60px;
    border-radius: 0% 40% 60% 40%;
    transform: rotateZ(30deg);
    z-index: 0;
    background-color: orangered;
}
.flameorangemain {
    height: 100px;
    width: 95px;
    position: relative;
    margin: 30px 70px;
    top: -445px;
    left: 60px;
    z-index: 1;
    border-radius: 0% 50% 70% 50%;
    transform: rotateZ(45deg);
    background-color: orange;
}
.flameorangeright {
    height: 90px;
    width: 90px;
    position: relative;
    margin: 30px 70px;
    top: -690px;
    left: 65px;
    z-index: 1;
    border-radius: 0% 50% 70% 50%;
    transform: rotateZ(60deg);
    background-color: orange;
}
.flameorangeleft {
    height: 90px;
    width: 90px;
    position: relative;
    margin: 30px 70px;
    top: -570px;
    left: 65px;
    z-index: 1;
    border-radius: 0% 50% 70% 50%;
    transform: rotateZ(25deg);
    background-color: orange;
}
.lefteye {
    width: 20px;
    height: 20px;
    border: solid 1px black;
    border-radius: 50%;
    position: relative;
    z-index: 1;
    background-color: white;
}
.righteye {
    width: 20px;
    height: 20px;
    border: solid 1px black;
    border-radius: 50%;
    position: relative;
    z-index: 1;
    background-color: white;
}
body{
    background-image: url(https://img2.goodfon.com/wallpaper/nbig/a/16/art-hayao-miyazaki-howl-s-2669.jpg)